-# .chatMain__footer
-#   %form(class="chatMain__footer--newMessage" nctype="multipart/form-data" method="post")
-#     .chatMain__footer--newMessage--body
-#       %input(id="messageBody" placeholder="type a message" name="message[Body]" type="text")
-#       %label.chatMain__footer--newMessage--body--uploadLabel{for: "uploadIcon"}
-#         %i.fa.fa-picture-o
-#         %input(name="message[image]" id="uploadIcon" type="file")
-#     %input(class="chatMain__footer--newMessage--submit" name="commit" value="Send" type="submit")

.chatMain__footer
  = form_for [@group, @message], :html => {:class => "chatMain__footer--newMessage"} do |f|  #messagesはgroupsにネストされているため
    .chatMain__footer--newMessage--body
      = f.text_field :content, id: 'messageBody', placeholder: 'type a message'
      = f.label :uploadIcon, class: 'chatMain__footer--newMessage--body--uploadLabel' do
        = fa_icon 'picture-o', class: 'fa-picture-o'
        = f.file_field :image, id: 'message_uploadIcon'
    = f.submit 'Sent', class: 'chatMain__footer--newMessage--submit'